@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
}

header {
    text-align: center;
    height: 10vh;
    background-color: rgb(26, 190, 136);
    color: white;
    padding-top: 5px;
}


section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

section #msg {
    height: 20vh;
    width: 60vw;
    text-align: center;
    padding-top:30px;
    background-color: aquamarine;
    margin-bottom: 10px;
}

footer {
 position: fixed;
 bottom: 0;    
 width: 100vw;
 display: flex;
justify-content: center; 
}