@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 10vh;
  
}


body{
    background-color: rgba(253, 148, 110, 0.795);
}


header {
    background-color:darkcyan;
    color: #fff;
    height: 8vh;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 1.9em;
    padding-top:5px;
    
}

main {
    height: 80vh;
    background-color: rgba(253, 148, 110, 0.795);
    padding: 20px;
}

main #form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    padding: 15px ;
    height: 20vh;
    width: 260px;
    margin: auto;
    background-color: rgba(252, 36, 36, 0.267);
    border-radius: 15px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.384);


}

main form {
    display: flex;
    flex-flow: column nowrap;

}

main #num{
    background-color: rgba(255, 210, 194, 0.795);
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 163px;
    margin-top: 5px;
    text-align: center;
    
}



main #confirma{
    height: 25px;
    padding: 2px;
    background-color: rgba(255, 186, 161, 0.795);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    

}

main #limp{

    height: 25px;
    padding: 2px;
    background-color: rgba(255, 186, 161, 0.795);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

main #tabuada-container{
    display: flex;
    justify-content: center;
}

main #tabuada{
    margin-top: 25px;
    text-align: left;
    padding: 15px;
    overflow: auto;
    scrollbar-width: none;
    width: 150px;
    background-color: rgba(252, 36, 36, 0.267);
    border-radius: 15px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.384);
    
}



    






footer {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    background: linear-gradient(to left,rgba(255, 202, 183, 0.795), rgb(4, 209, 209) );
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}