@charset "UTF-8";

*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

html, body {
    height: 100%;
}


body{
background-color: darkgoldenrod;
}


header{
    height: 10vh;
    padding-top: 10px;
    background-color: maroon;
    text-align: center;
    color: antiquewhite;
}
main h2 {
    text-align: center;
    color: maroon;
    
}

main #dias {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(148, 73, 19, 0.76);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
}


main #verificar{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(148, 73, 19, 0.76);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

main #verificar:hover{

    background: rgb(231, 181, 55);
    color: brown;
    transform: translateY(-2.5px);
    transition: 0.5s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.349);
}


main #opcoes {
    margin:15px auto 0 auto;
    text-align: center;
}

div#cardap {
    text-align: center;
    font-size: 1.5em;
    width: 45vw;
    height: 18vh;
    background-color: rgba(148, 73, 19, 0.76);
    margin:15px auto 0 auto;
    color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.349);
}


div#imagem {
    
    width: 100vw;
    margin-top: 10px;
    text-align: center;
}

.facontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fa-trash {
    font-size: 2em;
    color: rgb(105, 51, 12);
    cursor: pointer;
}

.fa-trash:hover{
    color: brown;
    transform: translateY(-2.5px);
    transition: 0.5s;
    
}