@media screen and (max-width:600px){
    main #form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items:flex-start;
        padding: 20px ;
        min-height: 20vh;
        width: 250px;
        background-color: rgba(252, 36, 36, 0.267);
        border-radius: 15px;
        box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.384);
}