@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100vh;
  
}


body{
    background-color: rgba(253, 148, 110, 0.795);
}


header {
    background-color:darkcyan;
    color: #fff;
    height: 8vh;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 1.9em;
    padding-top:5px;
    
}

main {
    height: 85vh;
    background-color: rgba(253, 148, 110, 0.795);
    padding: 20px;
}

main #form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:flex-start;
    padding: 20px ;
    height: 20vh;
    width: 280px;
    margin: auto;
    background-color: rgba(252, 36, 36, 0.267);
    border-radius: 15px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.384);


}



main #texto{
    height: 40vh;
    width: 320px;
    margin: 25px auto;
    text-align: center;
    background-color: #ffffff71;
    border-radius: 7px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.384);
    padding: 5px;
    overflow: auto;
    scrollbar-width: none;
   
    
}




    






footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    background: linear-gradient(to left,rgba(255, 202, 183, 0.795), rgb(4, 209, 209) );
    text-align: center;
}